<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3;url={{ target_url }}">
    <title>Redirecting...</title>
</head>
<body>
    <p>Redirecting you to the Epic Games Launcher... If you are not redirected automatically, click <a href="{{ target_url }}">here</a>.<br> <br>I have to jump through some hoops because discord does not allow direct app links. <br> <br>This page will close in 5 seconds.</p>
    <script type="text/javascript">
        setTimeout(function() {
            window.close();
        }, 5000); // Auto close after 5 seconds
    </script>
</body>
</html>
